.theme-info {
    background-color: #136a80;
    height: 400px;
    width: 600px;
    alignment: right;
    margin: auto;
    border:solid 6px #000000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow:#111 1px 1px 2px;
}