.class-card {
    border: 1px solid #DEDEDE;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    min-height: 53px;
    align-items: center;
}
.highlight-class-card {
    border: 1px solid #DEDEDE;
    background-color: #136a80;
    border-radius: 10px;
    color: white;
    padding: 10px;
    min-height: 53px;
    align-items: center;
}
.spHp-container {
    border: 2px solid #DEDEDE;
    background-color: #545b62;
    border-radius: 10px;
    color: white;
}
.ab-text {
    padding: 10px;
}
.ab-button {
    position: fixed;
    bottom: 25%;
    right: 15%;
}
