.class-card {
    border: 1px solid #DEDEDE;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    min-height: 53px;
    align-items: center;
}
.highlight-class-card {
    border: 1px solid #DEDEDE;
    background-color: #136a80;
    border-radius: 10px;
    color: white;
    padding: 10px;
    min-height: 53px;
    align-items: center;
}
