{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row"><br></div>
    <div class="row">
        <div class="col-sm">
            <h1>Select a Class</h1>
            <div class="class-card-group" id="class-card-group">
                <div class="class-card" id="class-card-envoy">Envoy</div>
                <div class="class-card" id="class-card-solarian">Solarian</div>
                <div class="class-card" id="class-card-mechanic">Mechanic</div>
                <div class="class-card" id="class-card-soldier">Soldier</div>
                <div class="class-card" id="class-card-mystic">Mystic</div>
                <div class="class-card" id="class-card-technomancer">Technomancer</div>
                <div class="class-card" id="class-card-operative">Operative</div>
            </div>
            <form method="POST">
                <input class="btn btn-primary" id="class-submit" type="submit" value="Choose Highlighted Class"></form>
        </div>
        <div class="col-sm">
            <div class="card" style="background-color: #136a80; color: white;">
                <div class="card-body">
                    {% autoescape false %}
                    <h3 class="card-title" id="cls-header"></h3>
                    <p class="card-text" id="cls-data"></p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#class-card-envoy').on('click', function () {
        let v = $('#class-card-envoy');
        $('[id^=class-card]').removeClass("highlight-class-card");
        v.addClass("highlight-class-card");
        $.getJSON(
            '/get_class/' + v.text(),
            function (data) {
                $('#cls-header').text(v.text());
                $('#cls-data').empty().append(data['FlavText'])
            }
        )
    });
    $('#class-card-solarian').on('click', function () {
        let v = $('#class-card-solarian');
        $('[id^=class-card]').removeClass("highlight-class-card");
        v.addClass("highlight-class-card");
        $.getJSON(
            '/get_class/' + v.text(),
            function (data) {
                $('#cls-header').text(v.text());
                $('#cls-data').empty().append(data[v.text()]['FlavText'])
            }
        )
    });
    $('#class-card-mechanic').on('click', function () {
        let v = $('#class-card-mechanic');
        $('[id^=class-card]').removeClass("highlight-class-card");
        v.addClass("highlight-class-card");
        $.getJSON(
            '/get_class/' + v.text(),
            function (data) {
                $('#cls-header').text(v.text());
                $('#cls-data').empty().append(data[v.text()]['FlavText'])
            }
        )
    });
    $('#class-card-soldier').on('click', function () {
        let v = $('#class-card-soldier');
        $('[id^=class-card]').removeClass("highlight-class-card");
        v.addClass("highlight-class-card");
        $.getJSON(
            '/get_class/' + v.text(),
            function (data) {
                $('#cls-header').text(v.text());
                $('#cls-data').empty().append(data[v.text()]['FlavText'])
            }
        )
    });
    $('#class-card-mystic').on('click', function () {
        let v = $('#class-card-mystic');
        $('[id^=class-card]').removeClass("highlight-class-card");
        v.addClass("highlight-class-card");
        $.getJSON(
            '/get_class/' + v.text(),
            function (data) {
                $('#cls-header').text(v.text());
                $('#cls-data').empty().append(data[v.text()]['FlavText'])
            }
        )
    });
    $('#class-card-technomancer').on('click', function () {
        let v = $('#class-card-technomancer');
        $('[id^=class-card]').removeClass("highlight-class-card");
        v.addClass("highlight-class-card");
        $.getJSON(
            '/get_class/' + v.text(),
            function (data) {
                $('#cls-header').text(v.text());
                $('#cls-data').empty().append(data[v.text()]['FlavText'])
            }
        )
    });
    $('#class-card-operative').on('click', function () {
        let v = $('#class-card-operative');
        $('[id^=class-card]').removeClass("highlight-class-card");
        v.addClass("highlight-class-card");
        $.getJSON(
            '/get_class/' + v.text(),
            function (data) {
                $('#cls-header').text(v.text());
                $('#cls-data').empty().append(data[v.text()]['FlavText'])
            }
        )
    });
    // $('#class-submit').on('click', function () {
    //     $.post("/charSelection", function (response) {
    //
    //     })
    // })
</script>
{% endblock %}